
.terraform/
.terraform.lock.hcl.tmp

*.tfstate
*.tfstate.*
*.tfstate.backup


*.tfvars
!terraform.tfvars.example


crash.log
crash.*.log


lambda/bootstrap
bootstrap

*.zip
lambda/function.zip

*.exe
*.exe;
*.out
*.app


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Configuración de editores
.vscode/
.idea/
*.swp
*.swo

.env
.env.*
*.pem
*.key
